fastapi
uvicorn[standard]
langdetect
transformers
sentencepiece
torch
httpx
python-dotenv
sentence-transformers
sacremoses
pymilvus
PyPDF2
pypdf
python-multipart
aiofiles
numpy
langchain
langchain-ollama
langchain-core
pydantic
asyncpg
google-genai